@import 'bootstrap';
@import 'variables';
@import 'loading-spinner';
@import 'upgrade';

html, body {
  height: 100%;
  overflow-x: hidden;
  max-height: 100%;
}

body{
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),-webkit-radial-gradient(40% 0%, $gradientLight 0%, rgba(84, 90, 182, 0) 100%),-webkit-radial-gradient(0% 100%, $gradientCircle 0%, rgba(118, 72, 160, 0) 50%);
  background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),radial-gradient( at 40% 0%, $gradientLight 0%, rgba(84, 90, 182, 0) 100%),radial-gradient( at 0% 100%, $gradientCircle 0%, rgba(118, 72, 160, 0) 50%);
  background-repeat: no-repeat,repeat,no-repeat;
  background-size: auto,6000px 1400px,600px 600px;
  background-color: $gradientBase;
  background-position: left bottom,left bottom;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: $txtColor;
}

.dashboard-wrapper {
  position: relative;
  height: 100%;
  margin: auto;
  max-width: 1440px;
  background-color: $gradientBase;
  background-image: -webkit-radial-gradient(40% 0%, $gradientLight 0%, rgba(84, 90, 182, 0) 100%),-webkit-radial-gradient(0% 100%, $gradientCircle 0%, rgba(118, 72, 160, 0) 50%);
  background-image: radial-gradient( at 40% 0%, $gradientLight 0%, rgba(84, 90, 182, 0) 100%),radial-gradient( at 0% 100%, $gradientCircle 0%, rgba(118, 72, 160, 0) 50%);
  background-position: left bottom,left bottom;
  background-repeat: repeat,no-repeat;
  background-size: 6000px 1400px,600px 600px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

a {
  cursor: pointer;
}

.sectionnav {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  color: #FFF;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  .brand {
    float: left;
    margin: 0;
    padding: 15px;
    // font-weight: bold;
    width: 260px;
    text-transform: uppercase;
  }

  .nav li a {
    color: #fff;

    &:hover, &:focus {
      color: $navHover;
      background: none;
    }
  }

  .nav .open a {
    background: none;
  }

  .nav li.active a {
    color: $navHover;
  }

  .navbar-right {
    margin-right: 0px;
  }

  .dropdown-menu li a {
    color: $txtColor;
  }

  .dropdown-toggle {
    .avatar {
      position: relative;
      display: inline-block;
      float: left;
      left: -5px;
      top: -5px;
      border-radius: 50%;
      padding: 2px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

.outlet {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0;
  right: 0;

  & > .loading-spinner-wrapper .loading-spinner i {
    background: #fff;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
}

.main-content {
  background: white;
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  max-height: 100%;
  height: 100%;

  &.full {
    width: 100%;
  }
}

.login-form {
  width: 500px;
  margin: 20px auto;
}

