.searchbar {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;

  .searchicon {
    float: left;
    margin: 5px 0;
    font-size: 20px;
  }

  input {
    float: left;
    width: calc(100% - 50px);

    &, &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .app-actions {
    float: right;

    i {
      font-size: 15px;
      position: relative;
      top: 8px;
      color: $dullLink;
    }
  }
}

.appblock {

}
