<div class="sidebar">
  <div class="sidelinks">
    {{#each app in model}}
      {{#link-to 'apps.app' app}}{{app.name}}{{/link-to}}
    {{/each}}
  </div>
</div>
<div class="main-content">
  {{outlet}}
</div>
